*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}


p{
    font-family: 'Open Sans',sans-serif;
}

header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

header img{
    cursor: pointer;
}

header:first-child{
    margin-left: 130px;
}

.menu-header{
    margin-right: 130px;
}

/*-------------------------------------- menu -------------------------------------*/

#menu {
    background-color: rgba(0, 0, 0, 0.521);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 0px;
    transition: width 0.3s;
}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}

#fexar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#fexar-menu a {
    font-size: 50px;
    margin-right: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

/*----------------------------------- conteudo-cont1 --------------------------------------*/

.conteudo-cont1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 45px;
}

.texto-cont1 p{
    line-height: 2.2;
}

.p-cont{
    width: 450px;
    margin-top: 20px;
}

#imgFrom{
    margin-top: 10px;
}

.texto-cont1 button{
    padding: 15px;
    background-color:#e81922;
    color: white;
    border: none;
    border-radius: 60px;
    width: 220px;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 1px;
    margin-top: 35px;
    cursor: pointer;
}

.texto-cont1 button:hover{
    background-color: black;
    transition: background 0.3s;


}

.p-cont span{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.conteudo-cont1 h1{
    font-family: Ubuntu, sans-serif;
    font-size: 5.5rem;
    font-weight: 400;
}

#h1-1 h1{
    color: #c41921;
}

#h1-2{
    margin-top: -12px;
}

/*------------------------------------- img-cont1 ---------------------------------------*/

.img-text1{
    width: 450px;
    height: 450px;
    background-image: url("images/container1-imgs/chefe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
}

/*------------------------------------- imgs-cont2 --------------------------------------------*/

.conteudo-cont2{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    justify-content: center;
    margin-top: 70px;
    grid-column-gap: 10px;
    margin-bottom: 50px;
}

.imgCont{
    width: 270px;
    height: 270px;
    overflow: hidden;
    cursor: pointer;
}

.imgCont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgsZoom{
    transition: all 0.5s;
}

.imgsZoom:hover{
    transition: 0.5s;
    transform: scale(1.1)
}

/*----------------------------------- conatainer-2 ----------------------------------*/

.conatainer-2{
    height: 95vh;
    background-image: url("images/container-2-imgs/3007283.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conte-cont2{
    margin-left: 60px;
}

.conte-cont2 h2{
    font-family: Montserrat,sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 4px;

}

.conte-cont2 h1{
    font-size: 6rem;
    font-family: Alata;
    color: white;
}

.conte-cont2 p{
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.125rem;
    margin-top: 20px;
}

.conte-cont2 span{
    border-bottom: 1px solid #c41921;
}

.conte-cont2 button{
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1.125rem;
    letter-spacing: 2px;
    padding: 17px 41px 18px;
    background-color: #c41921;
    margin-top: 20px;
    cursor: pointer;
}

/*--------------------------------------- main ----------------------------------------*/

 main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#conteudo-main{
    display: grid;
    grid-template-columns: 560px 560px;
    grid-template-rows: 260px 260px 260px;
    grid-gap: 10px;

}

.buguerCont{
    width: 560px;
    height: 260px;
}

.descritionBuguer{
    text-align: center;
    margin-top: 60px;
}

.descritionBuguer div{
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descritionBuguer div p{
    line-height: 1.70;
}

.descritionBuguer h2{
    font-family: Montserrat, sans-serif;
    font-size: 2.2rem;
}

.text-buguerCont{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#buguer1{
    background-image: url("images/main-imgs/buguer-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer2{
    background-image: url("images/main-imgs/buguer-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer3{
    background-image: url("images/main-imgs/buguer-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer4{
    background-image: url("images/main-imgs/buguer-4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer5{
    background-image: url("images/main-imgs/buguer-5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer6{
    background-image: url("images/main-imgs/buguer-6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.buguerCont h4{
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 1.45rem;

}
 
.buguerCont h5{
    color: #ef5a60;
    font-size: 1.20rem;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
}

.button-buguerCont{
    margin-top: 20px;

}

.button-buguerCont button{
    border: none;
    border-radius: 50px !important;
    color: white;
    background-color: #cf1821;
    padding: 14px;
    width: 165px;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.button-buguerCont button:active{
    outline: 2px solid #cf1821;
    background-color: black;
    color: #c41921;

}
    

/*------------------------------------- responsivo -----------------------------------*/

@media screen and (max-width: 1176px) {

    .conatainer-2{
        height: 80vh;

    }

    .conteudo-cont2 {
        grid-template-columns: 238px 238px 238px 238px;

    }

    .imgCont {
        width: 238px;
        height: 238px;
    }
}


@media screen and (max-width: 982px) {

    .conteudo-cont2 {
        grid-template-columns: 350px 350px;
        grid-template-rows: 340px 340px;
        grid-row-gap: 13px;
    }
    
    .imgCont {
        width: 350px;
        height: 340px;
    }

    .img-text1 {
        width: 390px;
        height: 390px;
    }

    header:first-child {
        margin-left: 50px;
    }

    .menu-header {
        margin-right: 50px;
    }

    .p-cont {
        width: 370px;
    }

    .conteudo-cont1 h1 {
        font-family: Ubuntu, sans-serif;
        font-size: 4.50rem;
    }

}

@media screen and (max-width: 835px) {
    .img-text1 {
        width: 330px;
        height: 330px;
    }

    .p-cont {
        width: 340px;
    }

    .conteudo-cont1 h1 {
        font-size: 4.20rem;
    }
}

@media screen and (max-width: 750px) {

    .conte-cont2 h1 {
        font-size: 3.50rem;
    }

    .conteudo-cont1 {
        flex-direction: column;
    }

    .p-cont {
        width: 520px;
    }

    .texto-cont1 p {
        font-size: 1.125rem;
        line-height: 2;
    }

    .conteudo-cont1 h1 {
        font-size: 4.70rem;
    }

    .img-text1 {
        margin-top: 60px;
        width: 500px;
        height: 500px;
    }

    .conteudo-cont2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imgCont {
        width: 530px;
        height: 500px;
    }

}

@media screen and (max-width: 694px) {
    .p-cont {
        width: 270px;
    }

    .conteudo-cont1 h1 {
        font-size: 3.60rem;
    }

    .img-text1 {
        width: 260px;
        height: 260px;
    }
}

@media screen and (max-width: 626px) {
    .conteudo-cont1 {
        flex-direction: column;
    }

    .p-cont {
        width: 470px;
    }
    .conteudo-cont1 h1 {
        font-size: 3.90rem;
    }

    .imgCont {
        width: 465px;
        height: 465px;
    }

    .img-text1 {
        margin-top: 40px;
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 572px) {
    .h2-cont2{
        width: 320px;
    }

    .h2-cont2 {
        margin-top: 100px;
    }
}


@media screen and (max-width: 506px) {
    .p-cont {
        width: 350px;
    }

    .conteudo-cont1 h1 {
        font-size: 3.60rem;
    }

    .imgCont {
        width:  375px;
        height: 360px;
    }
}

@media screen and (max-width: 418px) {
    header:first-child {
        margin-left: 30px;
    }

    .menu-header {
        margin-right: 30px;
    }

    .p-cont {
        width: 307px;
    }

    .conteudo-cont1 h1 {
        font-size: 3.40rem;
        font-weight: 500;
    }

    .img-text1 {
        margin-top: 55px;
        width: 305px;
        height: 305px;
    }

    .imgCont {
        width:  340px;
        height: 330px;
    }
}

@media screen and (max-width: 368px) {
    .conteudo-cont1 h1 {
        font-size: 3.0rem;
        font-weight: 500;
    }    

    .img-text1 {
        width: 265px;
        height: 265px;
    }

    .texto-cont1{
        align-items: center;
        justify-content: center;
    }

    .imgCont {
        width:  290px;
        height: 280px;
    }
}