*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
    color: white !important;
}


p{
    font-family: 'Open Sans',sans-serif;
}

header{
    display: flex !important;
    padding: 20px;
    justify-content: space-between !important;
}

header img{
    cursor: pointer;
}

header:first-child{
    margin-left: 130px;
}

.menu-header{
    margin-right: 130px;
}

/*-------------------------------------- menu -------------------------------------*/

#menu {
    background-color: rgba(0, 0, 0, 0.521);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 0px;
    transition: width 0.3s;
}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}

#fexar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#fexar-menu a {
    font-size: 50px;
    margin-right: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

/*----------------------------------- conteudo-cont1 --------------------------------------*/

.conteudo-cont1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 45px;
}

.texto-cont1 p{
    line-height: 2.2;
}

.p-cont{
    width: 450px;
    margin-top: 20px;
}

#imgFrom{
    margin-top: 10px;
}

.texto-cont1 button{
    padding: 15px;
    background-color:#e81922;
    color: white;
    border: none;
    border-radius: 60px;
    width: 220px;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 1px;
    margin-top: 35px;
    cursor: pointer;
    outline: none !important;
}

.texto-cont1 button:hover{
    background-color: black;
    transition: background 0.3s;


}

.p-cont span{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.conteudo-cont1 h1{
    font-family: Ubuntu, sans-serif;
    font-size: 5.5rem;
    font-weight: 400;
}

#h1-1 h1{
    color: #c41921;
}

#h1-2{
    margin-top: -12px;
}

/*------------------------------------- img-cont1 ---------------------------------------*/

.img-text1{
    width: 450px;
    height: 450px;
    background-image: url("images/container1-imgs/chefe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
}

/*------------------------------------- imgs-cont2 --------------------------------------------*/

.conteudo-cont2{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    justify-content: center;
    margin-top: 70px;
    grid-column-gap: 10px;
    margin-bottom: 50px;
}

.imgCont{
    width: 270px;
    height: 270px;
    overflow: hidden;
    cursor: pointer;
}

.imgCont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgsZoom{
    transition: all 0.5s;
}

.imgsZoom:hover{
    transition: 0.5s;
    transform: scale(1.1)
}

/*----------------------------------- conatainer-2 ----------------------------------*/

.conatainer-2{
    height: 95vh;
    background-image: url("images/container-2-imgs/3007283.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conte-cont2{
    margin-left: 60px;
}

.conte-cont2 h2{
    font-family: Montserrat,sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 4px;

}

.conte-cont2 h1{
    font-size: 6rem;
    font-family: Alata;
    color: white;
}

.conte-cont2 p{
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.125rem;
    margin-top: 20px;
}

.conte-cont2 span{
    border-bottom: 1px solid #c41921;
}

.conte-cont2 button{
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1.125rem;
    letter-spacing: 2px;
    padding: 17px 41px 18px;
    background-color: #c41921;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bolder;
    outline: none !important;
}

/*--------------------------------------- main ----------------------------------------*/

 main{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; 
    margin-bottom: 80px;
}

#conteudo-main{
    display: grid;
    grid-template-columns: 560px 560px;
    grid-template-rows: 260px 260px 260px;
    grid-gap: 10px;

}

.buguerCont{
    width: 560px;
    height: 260px;
}

.descritionBuguer{
    text-align: center;
    margin-top: 60px;
}

.descritionBuguer div{
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descritionBuguer div p{
    line-height: 1.70;
}

.descritionBuguer h2{
    font-family: Montserrat, sans-serif;
    font-size: 2.2rem;
    font-weight: bolder;
}

.text-buguerCont{
    width: 280px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
}


#buguer1{
    background-image: url("images/main-imgs/buguer-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer2{
    background-image: url("images/main-imgs/buguer-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer3{
    background-image: url("images/main-imgs/buguer-3.jpg");
    background-position: 85% 85%;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer4{
    background-image: url("images/main-imgs/buguer-4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer5{
    background-image: url("images/main-imgs/buguer-5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#buguer6{
    background-image: url("images/main-imgs/buguer-6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.buguerCont h4{
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 1.45rem;
    font-weight: bolder;

}
 
.buguerCont h5{
    color: #ef5a60;
    font-size: 1.20rem;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
    font-weight: bolder;
}

.button-buguerCont{
    margin-top: 20px;

}

.button-buguerCont button{
    border: none;
    border-radius: 50px !important;
    color: white;
    background-color: #cf1821;
    padding: 14px;
    width: 165px;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    outline: none !important;
}

.button-buguerCont button:active{
    outline: 2px solid #cf1821 !important;
    background-color: black;
    color: #c41921;

}


/*-------------------------------------- conteiner-3 ---------------------------------------------*/

.conteiner-3{
    background-image: url("images/container-3-imgs/6197-min.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
}

#botao{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

#botao2{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

#meuCarrossel{
    width: 465px;
    margin-left: 70px;
    background-color: white;
    margin-top: 55px;
    margin-bottom: 70px;
}

#carousel-item-1 {
    border: 1px solid rgba(163, 163, 163, 0.507);
}

.carousel-item {
    height: 500px;
    background-color: white;
}

.text-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: black;
}

.text-carousel img{
    margin-bottom: 15px;
}

.text-carousel button{
    padding: 7px;
    border: 2px solid #c41921;
    color: black;
    font-size: 0.875rem;
    border-radius: 50px;
    background-color: white;
    width: 143px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none !important;
    cursor: pointer;
}

.text-carousel h3{
    font-family: Montserrat,sans-serif;
    font-size: 1.50rem;
    font-weight: 700;
}

.p-carousel{
    width: 305px;
    text-align: center;
    margin-top: 25px;
}

.p-carousel p{
    color: black;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.7;
}

#rotate{
    transform: rotateY(180deg);
    padding: 10px;
    background-color: #dddddd;
}

#rotate2{
    background-color: #dddddd;
    padding: 10px;
}

.carousel-control-prev{
    height: 40px;
    opacity: .5 !important;
    margin-left: -5px;
    margin-top: 230px
}

.carousel-control-next{
    height: 40px;
    opacity: .5 !important;
    margin-right: -5px;
    margin-top: 230px

}

/*------------------------------------- swiper -----------------------------------*/

.swiper{

    background-color: white;
    display: none;
}

/*------------------------------------- footer -----------------------------------*/

footer{
    height: 100vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.img-footer{
    background-image: url("images/footer-img/fgfg54-min.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
    width: 40%;
    height: 100%;
}

footer h2{
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    font-family: Montserrat,sans-serif;
}

footer p{
    color: white;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-family: Montserrat,sans-serif;
}

footer input{
    width: 320px;
    border: none;
    background-color: rgba(240, 255, 255, 0);
    border-bottom: 2px solid white;
    color: white;
    padding: 9px;
    font-size: 1.1rem;
    font-weight: 500 !important;
}

footer a{
    list-style: none;
}

footer button{
    padding: 10px;
    background-color: #eb1520;
    color: white;
    border: none;
    letter-spacing: 1px;
    font-weight: 600;
    width: 120px;
    cursor: pointer;
    outline: none !important;
    margin-left: 15px;
}

footer section{
    margin-top: 15px;
    margin-bottom: 15px;
}
.container-text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.location p{
    margin-top: 25px;
    line-height: 1.8;

}

.div-input-f{
    margin-top: 60px;
}

.sunbscrabe-f{
    text-align: center;
}

.info-contai{
    display: flex;
    justify-content: space-between;
}

.info-contai div{
    text-align: right;
    margin-top: 120px;
}

.info-contai h2{
    font-size: 1.50rem;
    letter-spacing: 1px;
}

.info-contai p{
    font-size: 15px;
    letter-spacing: normal ;
}

/*------------------------------------- responsivo -----------------------------------*/

@media screen and (max-width: 1176px) {

    .conatainer-2{
        height: 80vh;

    }

    .conteudo-cont2 {
        grid-template-columns: 238px 238px 238px 238px;

    }

    .imgCont {
        width: 238px;
        height: 238px;
    }

    #conteudo-main {
        grid-template-columns: 473px 473px;
        grid-template-rows: 263px 263px 263px;
    }

    .buguerCont {
        width: 473px;
        height: 263px;
    }

    .img-footer {
        height: 65%;
        width: 45%;
    }
}

@media screen and (max-width: 982px) {


    #conteudo-main {
        display: flex;
        flex-direction: column;
    }

    .buguerCont {
        width: 720px;
        height: 263px;
    }

    .conteudo-cont2 {
        grid-template-columns: 350px 350px;
        grid-template-rows: 340px 340px;
        grid-row-gap: 13px;
    }
    
    .imgCont {
        width: 350px;
        height: 340px;
    }

    .img-text1 {
        width: 390px;
        height: 390px;
    }

    header:first-child {
        margin-left: 50px;
    }

    .menu-header {
        margin-right: 50px;
    }

    .p-cont {
        width: 370px;
    }

    .conteudo-cont1 h1 {
        font-family: Ubuntu, sans-serif;
        font-size: 4.50rem;
    }

    footer{
        flex-direction: column;
    }
    
    .sunbscrabe-f{
        margin-top: 40px;
    }

    .img-footer {
        height: 65%;
        width: 80%;
    }
    
    .info-contai{
        margin-bottom: 30px;
        width: 100%;
    }

    #br-footer{
        display: none;
    }

    .location p{
        line-height: 2;
    }

    .container-text-footer {
        width: 70%;
    }

    .tex-footer{
        width: 100%;
    }

    .div-input-f{
        display: flex;
        justify-content: center;
    }

    footer input {
        width: 470px;
    }

}

@media screen and (max-width: 835px) {
    .img-text1 {
        width: 330px;
        height: 330px;
    }

    .p-cont {
        width: 340px;
    }

    .conteudo-cont1 h1 {
        font-size: 4.20rem;
    }
}

@media screen and (max-width: 788px) {

    .buguerCont {
        width: 550px;
        height: 255px;
    }

    .descritionBuguer div {
        width: 505px;
    }

    #buguer1 {
        background-position: 80% 80%;
    }
    #buguer2 {
        background-position: 80% 80%;
    }
    #buguer3 {
        background-position: 80% 80%;
    }
    #buguer4 {
        background-position: 80% 80%;
    }
    #buguer5 {
        background-position: 80% 80%;
    }
    #buguer6 {
        background-position: 80% 80%;
    }
}


@media screen and (max-width: 750px) {

    .info-contai{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-contai div {
        text-align: center;
    }

    .info-contai h2 {
        font-size: 1.70rem;
    }

    #pwspan{
        margin-bottom: 40px;
    }

    .follow{
        margin-top: 60px !important;
    }

    .div-input-f{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .div-input-f button{
        width: 470px;
        margin-top: 15px;
        margin-left: 0;
    }

    footer{
        height: 140vh;
    }

    .conte-cont2 h1 {
        font-size: 3.50rem;
    }

    .conteudo-cont1 {
        flex-direction: column;
    }

    .p-cont {
        width: 520px;
    }

    .texto-cont1 p {
        font-size: 1.125rem;
        line-height: 2;
    }

    .conteudo-cont1 h1 {
        font-size: 4.70rem;
    }

    .img-text1 {
        margin-top: 60px;
        width: 500px;
        height: 500px;
    }

    .conteudo-cont2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imgCont {
        width: 530px;
        height: 500px;
    }

}

@media screen and (max-width: 694px) {
    .p-cont {
        width: 490px;
    }

    .conteudo-cont1 h1 {
        font-size: 3.60rem;
    }

    .img-text1 {
        width: 360px;
        height: 360px;
    }
}

@media screen and (max-width: 626px) {
    .conteudo-cont1 {
        flex-direction: column;
    }

    .p-cont {
        width: 450px;
    }
    .conteudo-cont1 h1 {
        font-size: 3.90rem;
    }

    .imgCont {
        width: 465px;
        height: 465px;
    }

    .img-text1 {
        margin-top: 40px;
        width: 350px;
        height: 350px;
    }

    .buguerCont {
        width: 90vw;
        height: 255px;
    }

}

@media screen and (max-width: 572px) {
    .h2-cont2{
        width: 320px;
    }

    .h2-cont2 {
        margin-top: 100px;
    }

    .descritionBuguer div {
        width: 420px;
    }

    .p-carousel {
        width: 290px;
    }

    .carousel-item {
        height: 530px;
    }

    #meuCarrossel{
        display: none;
    }

    .conteiner-3{
        height: 105vh;
    }

    .carousel-control-prev{
        display: none !important;
    }

    .carousel-control-next{
        display: none !important;
    }

    .swiper{
        display: flex;
        margin-top: 45px;
        margin-bottom: 45px;
        height: 485px;
        width: 360px;
    }

    #slide-div-b{
        border: 1px solid rgba(163, 163, 163, 0.507);
    }

    .text-carousel{
        margin-top: 40px;
        transition: 2s;
    }

    .text-carousel button {
        padding: 10px;
    }

    #btn-slider{
        margin-bottom: 15px;
    }

.swiper-pagination-bullet-active { 
    background-color: #b3b3b3;

}
    .p-carousel{
        margin-bottom: 25px;

    }


    .div-input-f{
        width: 100%;
    }

    .container-text-footer {
        width: 100%;
    }

    .div-input-f button, .div-input-f input{
        width: 80%;
    }


}


@media screen and (max-width: 506px) {
    .p-cont {
        width: 350px;
    }

    .conteudo-cont1 h1 {
        font-size: 3.60rem;
    }

    .imgCont {
        width:  375px;
        height: 360px;
    }
}


@media screen and (max-width: 468px) {
    .descritionBuguer div {
        width: 358px;
    }

    .text-buguerCont {
        width: 240px;
    }

    .swiper {
        width: 86vw;
    }

    .p-carousel {
        width: 70vw;
    }

}


@media screen and (max-width: 418px) {
    header:first-child {
        margin-left: 30px;
    }

    .menu-header {
        margin-right: 30px;
    }

    .p-cont {
        width: 307px;
    }

    .conteudo-cont1 h1 {
        font-size: 3.40rem;
        font-weight: 500;
    }

    .img-text1 {
        margin-top: 55px;
        width: 305px;
        height: 305px;
    }

    .imgCont {
        width:  340px;
        height: 330px;
    }

    .text-buguerCont {
        width: 200px;
    }

    .descritionBuguer div {
        width: 300px;
    }

    .buguerCont h4 {
        color: white;
        font-family: Montserrat, sans-serif;
        font-size: 1.40rem;
    }
}


@media screen and (max-width: 396px) {
    .h2-cont2 {
        width: 280px;
    }

    .p-carousel {
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 368px) {
    .conteudo-cont1 h1 {
        font-size: 3.0rem;
        font-weight: 500;
    }    

    .img-text1 {
        width: 265px;
        height: 265px;
    }

    .texto-cont1{
        align-items: center;
        justify-content: center;
    }

    .imgCont {
        width:  290px;
        height: 280px;
    }
}

@media screen and (max-width: 352px) {

    .conte-cont2 {
        margin-left: 30px;
    }

    .p-cont {
        width: 240px;
    }

    .conteudo-cont1 h1 {
        font-size: 2.65rem;
    }

    .imgCont {
        width: 270px;
        height: 250px;
    }

}